<a href="https://colab.research.google.com/github/rshrestha1/ARMDeploy/blob/master/ds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
def first_letter(word):
  #print(word)
  letter = word[:1]
  print (letter)

first_letter('pandamic')

p

if (l1>l2+l3) or (l2>l1+l3) or (l3>l1+l2):
print('No, the lengths wont form a triangle')
elif (l1==l2+l3) or (l2==l1+l3) or (l3==l1+l2):
        print('yes, it can form a degenerated triangle')
else:
print('Yes, a triangle can be formed out of it')

length1 = int(input('enter side 1\n'))
length2 = int(input('enter side 2\n'))
length3 = int(input('enter side 3\n'))

Create a dict directory which stores telephone numbers (as string values), and populate it with these key-value pairs:

Name		Telephone number
Jane Doe	+27 555 5367
John Smith	+27 555 6254
Bob Stone	+27 555 568

Change Jane’s number to +27 555 1024
Add a new entry for a person called Anna Cooper with the phone number +27 555 3237

Print Bob’s number.
Print Bob’s number in such a way that None would be printed if Bob’s name were not in the dictionary.
Print all the keys. The format is unimportant, as long as they’re all visible.
Print all the values.

In [0]:
dt1 = {'Jane Doe': '+27 555 5367', 'John Smith':'+27 555 6254','Bob Stone':'+27 555 568'}

In [3]:
dt1

{'Bob Stone': '+27 555 568',
 'Jane Doe': '+27 555 5367',
 'John Smith': '+27 555 6254'}

In [5]:
dt1['Jane Doe'] ='+27 555 1024'
dt1

{'Bob Stone': '+27 555 568',
 'Jane Doe': '+27 555 1024',
 'John Smith': '+27 555 6254'}

In [6]:
dt1['Bob Stone']

'+27 555 568'

In [45]:

dt={}
while True:
  answer = input("Do you want to make some entries? Y/N: ").lower().strip()
  if answer == 'y':
    name = str(input('Enter your name: '))
    phone =input('Enter your phone number:')
    dt[name]=phone
      #reply = str(input("Do you want to make more entries? Y/N: ")).lower().strip()
  elif answer == 'n':
    print("You've completed updating the dictionary!")
    break
print(dt)

Do you want to make some entries? Y/N: y
Enter your name: Bob Stone
Enter your phone number:+27 555 568
Do you want to make some entries? Y/N: y
Enter your name: Jane Doe
Enter your phone number:+27 555 5367
Do you want to make some entries? Y/N: y
Enter your name: John Smith
Enter your phone number:+27 555 6254
Do you want to make some entries? Y/N: n
You've completed updating the dictionary!
{'Bob Stone': '+27 555 568', 'Jane Doe': '+27 555 5367', 'John Smith': '+27 555 6254'}

{'Bob Stone': '+27 555 568',
 'Jane Doe': '+27 555 5367',
 'John Smith': '+27 555 6254'}

In [47]:
dt['Jane Doe']= '+27 555 1024'
dt

{'Bob Stone': '+27 555 568',
 'Jane Doe': '+27 555 1024',
 'John Smith': '+27 555 6254'}

In [55]:
dt['Anna Cooper']='+27 555 3237'
print('Updated dictionary:\n',dt)

Updated dictionary:
 {'Bob Stone': '+27 555 568', 'Jane Doe': '+27 555 1024', 'John Smith': '+27 555 6254', 'Anna Cooper': '+27 555 3237'}

In [53]:
print("Bob's Number: ", dt['Bob Stone'])

Bob's Number:  +27 555 568

In [46]:
print(dt)

{'Bob Stone': '+27 555 568', 'Jane Doe': '+27 555 5367', 'John Smith': '+27 555 6254'}

In [59]:
name = input("Enter name for lookup:")
print(dt.get('Bob Stone',"None"))

KeyboardInterrupt: ignored

In [63]:
dt.keys()

dict_keys(['Bob Stone', 'Jane Doe', 'John Smith', 'Anna Cooper'])

In [61]:
dt.values()

dict_values(['+27 555 568', '+27 555 1024', '+27 555 6254', '+27 555 3237'])

In [37]:
x, y = input("Enter a two value: ").split() 
print("Number of boys: ", x) 
print("Number of girls: ", y) 
print()

Enter a two value: 7 60
Number of boys:  7
Number of girls:  60

In [38]:
# Python program showing 
# how to take multiple input 
# using List comprehension 

# taking two input at a time 
x, y = [int(x) for x in input("Enter two value: ").split()] 
print("First Number is: ", x) 
print("Second Number is: ", y) 
print() 

# taking three input at a time 
x, y, z = [int(x) for x in input("Enter three value: ").split()] 
print("First Number is: ", x) 
print("Second Number is: ", y) 
print("Third Number is: ", z) 
print() 

# taking two inputs at a time 
x, y = [int(x) for x in input("Enter two value: ").split()] 
print("First number is {} and second number is {}".format(x, y)) 
print() 

# taking multiple inputs at a time 
x = [int(x) for x in input("Enter multiple value: ").split()] 
print("Number of list is: ", x)

Enter two value: 6 7
First Number is:  6
Second Number is:  7

Enter three value: 8 9 0
First Number is:  8
Second Number is:  9
Third Number is:  0

Enter two value: 7 0
First number is 7 and second number is 0

Enter multiple value: 6 75 4 9
Number of list is:  [6, 75, 4, 9]

Nested For Loop

In [0]:
types =['red','big','tasty']
fruits = ['apple','banana', 'cherry']

In [65]:
for values in types:
  for items in fruits:
    print(values,items)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [0]:
person =['john','rita','pete']
restaurants=['japanese','korean','vietnamese']

In [69]:
for customer in person:
  for restaurant in restaurants:
    print(customer + ' likes '+ restaurant + ' food')

john likes japanese food
john likes korean food
john likes vietnamese food
rita likes japanese food
rita likes korean food
rita likes vietnamese food
pete likes japanese food
pete likes korean food
pete likes vietnamese food

In [72]:
for i in range(1,11):
  for j in range(1,11):
    k=i*j
    print(k, end = ' ') #, end = ''
  print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [85]:
for i in range(1,9,1):
  for a in range(i):
    print(i, end =' ')
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8

In [88]:
persons = [ 'John', 'Marissa', 'Pete', 'Dayton']
for per1 in persons:
  for per2 in persons:
    if per1!= per2:
      print(per1 +' meets '+ per2)

John meets Marissa
John meets Pete
John meets Dayton
Marissa meets John
Marissa meets Pete
Marissa meets Dayton
Pete meets John
Pete meets Marissa
Pete meets Dayton
Dayton meets John
Dayton meets Marissa
Dayton meets Pete

persons = [ “John”, “Marissa”, “Pete”, “Dayton” ]

In [89]:
def ftn(par):
  return par

ftn("hello")

'hello'

In [0]:
 person = [ 'John', 'Marissa', 'Pete', 'Dayton']
 n=0
 person = person[ : n ] + person[n+1 : ]

In [93]:
def listf(par):
  return(par[0])
test_list =[8,1,2,3]
listf(test_list)

8

In [94]:
def mult(a,b,c):
  d =a*b 
  return (d+c)
mult(10,25,30)

280

In [95]:
def giver(a,b):
  c=a+b
  return c

def taker(d,e):
  op =giver(d,e)
  op+=100
  return op 

giver(1,5)
taker(1,5)

106

In [102]:
def listm(par):
  par.append(5)
  par.insert(2,4) #(position, what to add)
  par.remove(3)
  return par

test =[1,1,1,1,1,1,1,3]
print(listm(test))

[1, 1, 4, 1, 1, 1, 1, 1, 5]

In [97]:
def product(a):
  return (a[1]*a[2])

a = [1,2,3,4]
product(a)

6

In [108]:
def print_items_next_line(a):
  for items in a:
    print(items, end = ' ')

new_list= [10,20,30,40,50]
print_items_next_line(new_list)

10 20 30 40 50

In [0]:
def man_list(a):
  empty =[]
  for items in a:
    empty.append(items *a)
  return empty
a = [10,20,30,40,50]
man_list(a)

In [113]:
def max_num_in_list(list):
  max = list[0]
  for a in list:
    if a>max:
      max = a
  return max

max_num_in_list([10,2,3,400,800])

800

In [115]:
import math as mt
def new_num(list):
  empty=[]
  for items in list:
    ceil = mt.ceil(items/2)
    empty.append(ceil)
  total =sum(empty)
  return empty,total 

new_num([10,20,7])

([5, 10, 4], 19)

In [120]:
 import math 
 def new_num1(list,k):
  empty=[]
  counter =0
  while counter<k:
    ceil =math.ceil(max(list)/2)
    empty.append(ceil)
    counter +=1
  return empty 

new_num1([10,20,7],4)

[10, 10, 10, 10]

In [121]:
def str_len(str):
  count =0
  for char in str:
    count+=1
  return count
print(str_len("hello world"))

11

In [125]:
import math 
def minsum(num,k):
  num.sort()
  newnum = []
  for i in range(k):
    if not newnum:
      max_num =num.pop()
    elif not num:
      max_num= newnum.pop()
    elif newnum[-1]>num[-1]:
      max_num =num.pop()
    else:
      max_num = num.pop()
      ceil =math.ceil(max_num/2)
      newnum.insert(0,ceil)
    s = sum(num)+ sum(newnum)
  return s
minsum([10,20,7],4)

IndexError: ignored